<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dbname %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>welcome to dataBase</h1>
    <h1>data-base : <%= dbname %> </h1>
    <hr>
    <h2><a href="/">HomePage</a></h2>
    <h2><a href="/db">DB-Page</a></h2>
    <h2>These are the colllection available here : </h2>
    <% for( let index = 0; index < list.length; index++ ) { %>
        <hr>
        <h3><%= list[index] %> </h3>
        <h3>Insert Data : <a href="/<%= dbname %>/<%= list[index] %>/insertdata">link</a></h3>
        <h3>Show Data : <a href="/<%= dbname %>/<%= list[index] %>">link</a></h3>
        <h3>API of this Collection : <a href="/api/<%= dbname %>/<%= list[index] %>">link</a></h3>
    <% } %>
        <hr>
    <h2>Create New Colletion here : <a href="/<%= dbname %>/createcollection">Link</a></h2>

    <hr>
    <h1>API of this DataBase is here : <a href="/api/<%= dbname %>">Link</a></h1>
</body>
</html>